# JAVA_HOME may already be set
# This works for Mac
export JAVA_HOME=`/usr/libexec/java_home`
export GEMFIRE=/Users/zhansen/Downloads/boot_camp
export PATH=$GEMFIRE/bin:$PATH
export GF_JAVA=$JAVA_HOME/bin/java
export GF_SAMPLES=$GEMFIRE/SampleCode
export CLASSPATH=../bin:./bin:./target/classes:../target/classes:$JAVA_HOME/lib/tools.jar:$GEMFIRE/lib/gemfire.jar:$GEMFIRE/lib/tomcat-embed-core.jar:$GEMFIRE/lib/antlr.jar:$GEMFIRE/lib/gfSecurityImpl.jar:$GF_SAMPLES/helloworld/classes:$GF_SAMPLES/quickstart/classes:$COURSE_HOME/repository/com/gopivotal/training/server-bootstrap/1.0.0.CI-SNAPSHOT/server-bootstrap-1.0.0.CI-SNAPSHOT.jar:$CLASSPATH
